@model IList<LoginViewModel>;
@{
    ViewData["Title"] = "Login Screen";
    Layout = "~/Views/Shared/_Layout.cshtml" ;
}

<body>
    <table>
        <th style="border: 1px solid black">
            <tr style="border: 1px solid black">
                <td >username</td>
                <td >password</td>
            </tr>
        </th>
    @foreach(var user in Model){
        <tr>
            <td >@user.Username</td>
            <td ">@user.Password</td>
        </tr>

    }
    </table>
</body>